:root {
    --color-white: #fff;
    --color-wihte-00: rgba(236, 236, 236, 0.3);
    --color-white-03: rgba(255, 255, 255, 0.3);
    --color-white-065: rgba(255, 255, 255, 0.65);
    --color-darken-purple: #0B0121;
    --color-dark-purple: #0B081C;
    --color-black-08: rgba(0, 0, 0, 0.8);
    --color-purple: #370C94;
    --color-gray: #939393;

}

header {
    background-color: var(--color-darken-purple);


    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 110px;
    }
}


body {
    background-color: var(--color-darken-purple);
    color: var(--color-white);

}

.container {
    max-width: 100%;
    padding: 0 24px;
}


.section-main {
    background-image: url('../img/background-colorful.png');
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 90px;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .title {
        margin-bottom: 30px;
    }


    .ctas {
        margin: 30px 0 0;
        width: 100%;

        .cta {
            width: 100%;
        }

        .cta:first-child {
            margin-bottom: 27px;
        }
    }
}

.cta-learn {
    width: 290px;
    height: 35px;
    border-radius: 50px;
    border: 1px solid var(--color-white-03);
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 62px;
    font-weight: 500;
    text-align: center;
    letter-spacing: -1.8%;
    background: -webkit-linear-gradient(280deg, var(--color-white) 10%, var(--color-wihte-00));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description {
    text-align: center;
    font-size: 16px;
    line-height: 25.6px;
    color: var(--color-white-065);
}


.cta {
    display: block;
    height: 63px;
    line-height: 63px;
    text-align: center;
    border-radius: 90px;
    padding: 0 35px;
    font-size: 18px;
}

.cta.filled {
    background-color: var(--color-white);
    color: var(--color-dark-purple);
}

.cta.outlined {
    border: 1px solid var(--color-white);
    color: var(--color-white);
}

.section-clients {
    margin-top: 100px;

    .description {
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 60px;
    }

    .list-clients {
        li {
            display: flex;
            justify-content: center;
            margin-bottom: 75px;
        }
    }
}

.subtitle {
    font-size: 48px;
    line-height: 60px;
    color: var(--color-white);
    letter-spacing: -0.49px;
    font-weight: 500;
}

.section-features {
    .subtitle {
        text-align: center;
        margin-bottom: 35px;

    }

    .list-features {
        >li {
            border-radius: 30px;
            box-shadow: 0px 1px 10px 0px var(--color-white-03);
            margin: 60px 0;
            padding: 66px 24px;


            .description {
                text-align: left;
                margin-top: 15px;
                line-height: 24px;
            }
        }

        .feature-logo {
            margin-bottom: 25px;

        }

        .feature-title {
            font-weight: 500;
            font-size: 26px;
            letter-spacing: -0.25px;
            line-height: 34px;

        }

        .feature-link {
            font-weight: 500;
            font-size: 16px;
            text-decoration: underline;
            margin-top: 40px;

        }


        li:last-child {
            .feature-title {
                font-weight: 700;
                text-align: center;

            }

            .description {
                margin: 35px 0 60px;
                text-align: center;
            }

        }
    }

}

.footer-title {
    font-weight: 500;
    font-size: 26px;
    margin-bottom: 25px;
    color: var(--color-white);
}

.footer-text{
    margin: 10px 0;
    font-size: 14px;
    font-weight: 300;
    display: block;

}

.footer-list {
    >li {
        margin: 50px 0;
    }
}

.footer-copy{
    margin: 60px 0;
    color: var(--color-gray);
    font-size: 14px;
    justify-content: center;
}

.footer-list__terms {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0 90px;

    li {
        margin: 0 15px;

        a {
            color: var(--color-gray);
            font-size: 14px;
        }
    }
}

.js--accordion__content {
    display: none;
}

.js--accordion__content.is--active {
    display: block;
}


@media (min-width: 768px){
    .menu {
        display: none;
    }
}